<!--TEMPLATE FORM-->
<!--asi nombremos formulario para desabilitar   el boton guardar-->
<form (submit)="submit()" #formulario="ngForm">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" required [(ngModel)]="personita.nombre" #nombre="ngModel">

    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <div *ngIf="nombre.errors.required">
            El nombre es obligatorio
        </div>
    </div>


    <label for="apellidos">Apellidos</label>
    <input type="text" name="apellidos" id="apellidos" [(ngModel)]="personita.apellidos">

    <label for="poblacion">Poblacion</label>
    <input type="text" name="poblacion" id="poblacion" [(ngModel)]="personita.poblacion">

    <button type="submit" [disabled]="!formulario.form.valid">Guardar</button>
    <button type="reset">Borrar</button>


</form>

{{personita.nombre}} {{personita.apellidos}} {{personita.poblacion}}

<!--REACTIVE FORM-->
<router-outlet></router-outlet>
